<!--
 * Copyright 2018-2019 Jupyter Enterprise Gateway Developers
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>

    <select id="kernelspec">
    <%  Object.keys(kernelspecs).forEach(function (key) { %>
      <option value=<%= key %> ><%= kernelspecs[key] %></option>
    <% }) %>
    </select>

    <span>
      <button id="open-kernelspec" class="btn" />Open</input>
    </span>

    <div id="editor"></div>

    <script src="/lib/jquery/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor;

        function updateEditor(content) {
          editor.setValue(content);
          editor.setReadOnly(false);
        }

        $( document ).ready(function() {
          console.log('>>> initializing the editor')
          editor = ace.edit("editor");
          editor.setKeyboardHandler('vim');
          // editor.setTheme("ace/theme/xcode");
          editor.setTheme("ace/theme/twilight");
          // editor.setTheme("ace/theme/solarized_dark");
          editor.getSession().setMode("ace/mode/json");
          editor.getSession().setTabSize(2);
          editor.getSession().setUseWrapMode(true);

          editor.setFontSize("12px")
          editor.setPrintMarginColumn(false);
          // use setOptions method to set several options at once
          editor.setOptions({
            autoScrollEditorIntoView: true,
            copyWithEmptySelection: true,
            // enableBlockSelect: false,
            // enableMultiselect: false,
          });
        });

        $('#open-kernelspec').on('click', function(event) {
            event.preventDefault(); // To prevent following the link (optional)

            let selectedKernelspec = $('#kernelspec option:selected').val().toLowerCase();
            console.log('selected ==> ' + selectedKernelspec);
            console.log('>>> Will read kernelspec')
            $.get( '/api/kernelspec/' + selectedKernelspec, function(data, status) {
              updateEditor(JSON.stringify(data, null, '\t'));
            });
        });
    </script>
  </body>
</html>
