body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#editor {
  position: absolute;
  left:60px;
  top:200px;
  width: 70%;
  height: 500px;
}